{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Weather App</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body style="background-color: rgb(28, 141, 211);">
    <h1 style="color:rgb(255, 255, 255);">
        You can check your own Weather
    </h1>
    <form method="post">
        {% csrf_token %}
        <input type = "text", name = "city" placeholder = "Type City Name"><br><br>
        <button type = "submit"> SHOW WEATHER</button>
        <marquee>
            <h5 style="color: azure;">Developed by Shahidul islam, Eusuf Abdullah & Shahadat Hossain</h5>
        </marquee>
        
    </form>

    <div class="comparison-container">
        {% if weather_data %}
        <div class="city-container">
            {% include 'weather_app/city_weather.html' with weather_data=weather_data daily_forcasts=daily_forcasts %}
        </div>
        {% endif%}
    </div>

</body>
</html>